In [13]:
import pandas as pd
from tqdm import tqdm

states = ["SC", "AK", "AZ", "CA", "CO", "IL", "IN", "NC", "NV", "NY", "OH", "PA", "VA", "WI"]
# states = ["NV"]

for state in tqdm(states):
    file_name = 'Count/' + state + '_food_count.csv'
    write_file_name = 'JS/' + state + '.js'
#     print(file_name)
    var_name = "dict['" + state + "'] = ["
    food_count = pd.read_csv(file_name)
    
    food_count = food_count.sort_values(by=['Count'], ascending=False)
    remove = ["rich","rename","restaurant","staff","dinner","flavor","nice","serve","last","customer","excellent","house","bad","point","friend","small","room","monkey","fresh","week","second","part","decent","amount","anyone","bite","variety","decor","perfect","patio","deal","chef","right","different","game","cup","option","lady","authentic","style","value","wonderful","mac","road","street","mouth","main","level","dressing","view","date","live","girl","clean","yummy","yum","fantastic","dirty","perfection","southern","favourite","presentation","baby","bottle","basket","red","brown","simple","station","craft","heat","fancy","open","takeout","bottom","head","version","dozen","blue","south","green","low","prime","boat","goodness","plain","event","heart","dark","general","texture","pot","fat","shop","tasting","orange","filling","cuisine","dog","spring","fall","please","unique","TRUE","downtown","crazy","daily","deep","limited","rock","wood","mild","grand","board","incredible","bass","sticky","burnt","twist","skin","key","pan","crunch","soft","delight","giant","sampler","vegetarian","traditional","fatty","coast","popular","pack","flavorful","pad","pound","quarter","rack","english","beach","celebration","benedict","art","chick","tongue","plant","stack","bang","secret","wedding","jerk","sample","ocean","pure","passion","natural","display","joy","split","starter","anniversary","monster","lounge","angry","icing","blend","iron","cracker","bridge","magazine","silver","triple","creation","rainbow","grande","feast","melt","charcoal","foam","powder","baba","leaf","jungle","duo","r","golden","flat","square","ink","purple","stir","reduction","cha","joe","graham"]

    indices = []

#     print(type(food_count))
    for index, row in food_count.iterrows():
        if(row['Dish'] in remove):
            indices.append(index)

#     print(food_count, indices)
    food_count = food_count.drop(indices)
#     print(food_count.head())
    food_count.to_csv('food_count_sorted_cleaned.csv', index=False)
    new_food_count = pd.read_csv('food_count_sorted_cleaned.csv')

    sc = []
    count = 0
    for index, row in new_food_count.iterrows():
        item = {}
        item['name'] = row['Dish']
        item['count'] = row['Count']
        item['avg_rating'] = row['Avg_Rating']

        count += 1
        sc.append(item)

        if count > 50:
            break
            
    with open(write_file_name, 'w') as filehandle:
        filehandle.write(var_name)
        for listitem in sc:
            filehandle.write('%s , \n' % listitem)
        filehandle.write("];")

100%|██████████| 14/14 [00:01<00:00,  7.04it/s]

<class 'pandas.core.frame.DataFrame'>
            Dish  Count  Avg_Rating
0           beer   7107    3.782187
1        chicken   6849    3.600818
2         cheese   6791    3.744662
3          sauce   5568    3.595007
4          salad   4691    3.591345
..           ...    ...         ...
901   portuguese      1    5.000000
899       salade      1    5.000000
898  langoustine      1    5.000000
897     sorbetto      1    5.000000
913     handroll      1    1.000000

[914 rows x 3 columns] []

In [8]:
food_count.head()

      Dish  Count  Avg_Rating
0     beer   7107    3.782187
1  chicken   6849    3.600818
2   cheese   6791    3.744662
3    sauce   5568    3.595007
4    salad   4691    3.591345